[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==8.7.0"
boto = "2.49.0"
boto3 = "1.26.13"
botocore = "1.29.13"
credstash = "1.17.1"
dog-api-python = {editable = true, git = "https://github.com/relaypro-open/dog_api_python.git", ref = "6bd2cf07b6352030e0fae22891a9f7d6c08db81f"}

[dev-packages]

[requires]
python_version = "3.11.11"
